.btn.primary {
  @apply text-white rounded-full px-[48px] py-[24px] flex items-center gap-[24px];
  box-shadow: 0px 8px 8px rgba(100, 100, 100, 0.35);
  --gradient-percentage: 0%;
  background: linear-gradient(90deg, #ff6840 var(--gradient-percentage), #ff4c80 100%);
  transition: --gradient-percentage 1s;
}

.btn.primary:hover, .btn.primary:focus {
  --gradient-percentage: 50%;
}

.btn svg {
  @apply text-lg;
}

.btn:active {
  @apply scale-[0.95];
}

@property --gradient-percentage {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
